#!/bin/sh

export PYRIGHT_PYTHON_FORCE_VERSION='latest'

# shellcheck disable=SC2046  # cannot surround with quotes: breaks export command
! test -f ./.env || export $(grep -oE '^[^ #]{1,}=[^#]{1,}' .env | xargs)

test -n "$DJANGO_SETTINGS_MODULE" || export DJANGO_SETTINGS_MODULE='development_server.settings'
test -n "$TAPLO_CONFIG" || export TAPLO_CONFIG="${PWD:+${PWD}/}.taplo.toml"

test -f django-locked-migrations.code-workspace || cp .vscode/django-locked-migrations.code-workspace django-locked-migrations.code-workspace

if ! command -v uv >/dev/null; then
  curl -LsSf https://astral.sh/uv/install.sh | sh
fi

uv sync --all-extras --all-groups

# shellcheck disable=SC1091  # linting the `activate` script results in warnings/errors
test -f .venv/bin/activate && . .venv/bin/activate

if command -v pre-commit >/dev/null; then
  pre-commit install --install-hooks
fi

PATH="$PWD/bin:$PATH"
